<div>
    <a href="{% url 'blog:add' %}">Добавить пост</a>
    <a href="{% url 'blog:add-theme' %}">Добавить тему</a>
</div>

<hr>
<hr>

<div>

    {% for post in posts %}
        <div>
            <h3>
                <a href="/blog/post-{{ post.id }}/">{{ post.title }}</a>
                <a href="/blog/theme-{{ post.theme.id }}/">{{ post.theme }}</a>
            </h3>
            <div>
                <img src="{{ post.theme.image.url }}" alt="">
            </div>
            {#            <p>#}
            {#                {{ post.content }}#}
            {#            </p>#}
            <div></div>
        </div>
    {% endfor %}

</div>
