{% extends 'pages/_form.html' %}

{% load i18n %}

{% block content %}

    <div class="row mb-5">
        <div class="col">


            {% trans 'Forum Home' %}

            {% blocktrans %}Very very long text{% endblocktrans %}
            {% blocktrans with trans_title='BURUM' trimmed %}
                translation or {{ trans_title }}
            {% endblocktrans %}

            {% comment %}{{ title }}
            <hr>
            {{ subtitle }}
            <hr>
            {{ messages }}
            <hr>
            {{ messages_plural }}
{% endcomment %}
        </div>
    </div>

    <div class="row">

        <div class="col">

            <div class="card">

                <ul class="list-group list-group-flush">
                    {% for thread in threads %}

                        <li class="list-group-item">
                            <a href="{{ thread.get_absolute_url }}">
                                {{ thread.title }}
                            </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>



        </div>
    </div>

{% endblock %}
