{% extends 'pages/_forum.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row">

        <div class="col">

            <div class="card">

                <ul class="list-group list-group-flush">
                    {% for thread in threads %}

                        <li class="list-group-item" id="li-{{ thread.pk }}">
                            <a href="{{ thread.get_absolute_url }}"
                               class="thread-link"
                               id="link-{{ thread.pk }}">
                                {{ thread.title }}
                            </a>
                        </li>

                    {% endfor %}
                </ul>

            </div>


        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>

        $(document).ready(function () {
            $('#li-2').css('font-size', '24px');
            $('#link-2').on('click', function () {
                $.ajax(
                    {
                        url: '/forum/ajax/',
                        success: function (ret) {
                            $('#link-2').text(ret['title'])
                        }
                    }
                );

                $.get('/forum/ajax/', function () {
                });

                return false;
            });
        });

    </script>
{% endblock %}
